body{
    margin: 0;
    padding: 0;
    background-image: url(brick_wall.jpeg);
    -webkit-background-size: cover;
    background-size: cover;
    font-family: verdana;
        
}
.form-area{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    width: 400px;
    height: 550px;
    box-sizing: border-box;
    background: #ffffff;
    padding: 40px;
}
h1{
    margin: 0;
    padding: 0 0 0px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
h3{
    margin: 0;
    padding: 0 0 40px;
    font-weight: bold;
    text-align: center;
    color: #000000;
}
h6{
    margin: 0;
    padding: 0 0 00px;
    font-weight: lighter;
    text-align: center;
    color: #000000;
}
.form-area p{
    margin: 0;
    padding: 0;
    font-weight: light bold;
    color: goldenrod;
}
.form-area input, select{
    margin-bottom: 25px;
    width: 100%
}
.form-area input[type=text]{
    border: none;
    border-bottom: 1px solid #ffffff;
    background-color: #000000;
    outline: inherit;
    height: 40px;
    color: aliceblue;
    display: 16px;
}
::placeholder{
    color: #ffffff;
}    
.form-area select{
    margin-top: 0px;
    padding: 10px 0;
}        
.form-area input[type=submit]{
    border: none;
    height: 40px;
    outline: #EB0486;
    border-color: #EB0486;
    box-shadow: #EB0486;
    color: aliceblue;
    background-color: goldenrod;
    cursor: pointer;
}
.form-area input[type=submit]hover{
    background-color: #EB0486;
}
/* link */
a:link {
  color: #EB0486;
}
.li{
    font-size: 10px;
}

